    <script src="/js/index.js"></script>
  <footer class="footer">
    <div class="footer__wrap">
      <div class="links">
        <a href="#">À propos</a>
        <a href="#">Contact</a>
        <a href="#">CGU</a>
      </div>
      <div class="socials">
        <a href="#">🌐</a>
        <a href="#">📸</a>
        <a href="#">🐦</a>
      </div>
    </div>
  </footer>
</body>
</html>