<header class="header">
  <div class="header__bar">
    <a href="/" class="logo">Dinopark</a>

    <nav class="nav">
      <ul class="nav__list">
        <li><a href="/">Accueil</a></li>
        <li><a href="/Attractions">Attractions</a></li>
        <li><a href="/reserve">Réservations</a></li>
      </ul>
    </nav>
    <div class="burger">☰</div>
  </div>
</header>