<header class="header">
  <div class="header__bar">
    <a href="/" class="logo">
      <img src="/Frame 21.svg" alt="Dinopark">
      <span>Dinopark</span>
    </a>

    <nav class="nav">
      <ul class="nav__list">
        <li><a href="/">Accueil</a></li>
        <li><a href="/Attractions">Attractions</a></li>
        <li><a href="/reserve">Réservations</a></li>
      </ul>
    </nav>

    <div class="burger">☰</div>
  </div>
</header>
