<%- include("../partials/head", { title: "Admin " }) %>

<form action="/admin/login" method="POST">
  <label>Identifiant :</label>
  <input type="text" name="username" required>
  <label>Mot de passe :</label>
  <input type="password" name="password" required>
  <button type="submit">Se connecter</button>
</form>

<% if (typeof error !== "undefined" && error) { %>
  <p style="color:red;"><%= error %></p>
<% } %>

<%- include("../partials/footer") %>
