<%- include("../partials/head", {title: "Réservation Dino Park!" }) %>


<section class="reservation">
 <form action="/reservation/paiement" method="POST">
  <label>Nom :</label>
  <input type="text" name="nom" required>

  <label>Type de billet :</label>
  <select name="typeBillet">
    <option value="Adulte">Adulte</option>
    <option value="Enfant">Enfant</option>
    <option value="VIP">VIP</option>
  </select>

  <label>Quantité :</label>
  <input type="number" name="quantite" min="1" value="1" required>

  <label>Montant total (€) :</label>
  <input type="number" name="montantTotal" readonly value="25">

  <button type="submit">Payer</button>
</form>
</section>

<%- include("../partials/footer") %>
